:host {
    top: 0;
    left: 0;
}
.floating-slider {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    right: 40px;
    top: 40px;
    padding: 40 40 40 40;
    width: 150px;
    background-color: white;
}
.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: #2e4057;
}

.inlay{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: calc(var(--widthMultiplier) * 30);
    height: calc(var(--heightMultiplier) * 70);
    justify-content: center;
    align-items: center;
}

mat-form-field {
    width: 100%;
}

.form-container-invis {
    display: flex;
    flex-direction: column;
    background-color: rgba(255,255,255,0.0);
    width: 100%;
    height: 80%;
    align-items: center;
}

.box-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.mat-form-field {
    font-size: var(--fontSize);
    font-weight: 400;
    line-height: 1.125;
}

.spacer {
    width: 100%;
    height: 5%;
}

.box-padder {

}

.mat-raised-button.mat-primary {
    background-color: #4C8BF5;
    width: 40%;
    height: calc(var(--heightMultiplier) * 7);
}

.mat-raised-button {
    font-size: var(--fontSize);
}

